    <!-- About Section -->
    <section id="wednesday" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Wednesday</h2>
                <p>
                    <strong>Family Show Night:</strong> 6pm
                    <ul>
                        <li>Becky: Opening remarks & Welcome</li>
                        <li>Straubs + Alan + Andrew: <em>(secret skit)</em></li>
                        <li>Swenson Family Performance</li>
                        <li>Sophie's Group: Charlie Brown</li>
                        <li>Straubs + Ken + Sophia + Erika: <em>(secret skit)</em></li>
                        <li>Lucy's Group: Cops & Robbers</li>
                        <li>Sam + Grace Performance</li>
                        <li>Dorothy: Fruit Dance</li>
                        <li>Becky + Michelle + Dorothy + All Fathers: Pick Your Father's Nose</li>
                        <li>Will: Dramatic Reading</li>
                        <li>Andrew & Michelle Family Performance</li>
                        <li>Straub Family Performance <em>(secret skit)</em></li>
                        <li>Ken + Dorothy + Becky + Kevin + Andrew: Little Grandpa!</li>
                        <li>Becky: Closing Remarks</li>
                    </ul>
                </p>
                <p>Dinner: Sam & Grace (Foil Packets)</p>
                <p>Nostalgia Movie: 8:30pm</p>
            </div>
        </div>
    </section>

