    <!-- About Section -->
    <section id="wednesday" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Wednesday</h2>
                <p>Outdoor fire: 4pm</p>
                <p>Dinner: Sam & Grace (Foil Packets)</p>
                <p>
                    <strong>Family Show Night:</strong> 6pm
                    <ul>
                        <li>Becky: <em>Opening remarks & Welcome</em></li>
                        <li>Straubs + Alan + Andrew: <em>(secret skit)</em></li>
                        <li>Swenson Family Performance</li>
                        <li>Big Kids Performance</li>
                        <li>Straub + Ken + Sophia + Erika: <em>(secret skit)</em></li>
                        <li>Sam & Grace Family Performance</li>
                        <li>Dorothy Performance</li>
                        <li>Becky + Michelle + Dorothy + All Fathers: <em>Pick Your Father's Nose</em></li>
                        <li>Andrew & Michelle Family Performance</li>
                        <li>Straub Family Performance <em>(secret skit)</em></li>
                        <li>Kevin & Erika Family Performance</li>
                        <li>Ken + Dorothy + Becky + Kevin + Andrew: <em>Little Grandpa!</em></li>
                        <li>Becky + Everyone: Rain <em>(quieting down activity)</em></li>
                    </ul>
                </p>
                <p>Nostalgia Movie: 8:30pm</p>
            </div>
        </div>
    </section>
